footer {
    display: flex;
    flex-direction: column;
    height: 12vh;
    
    @media screen and (min-width: $laptop) {
        background-color: $color-background;
        flex-direction: row;
    }

    .footer__video {
        border-radius: .3rem;
        margin-top: 2rem;
        width: 90%;

        @media screen and (min-width: $tablet) {
            width: 70%;
        }

        @media screen and (min-width: $laptop) {
            border-radius: 0;
            margin-top: 0;
            width: 7.5rem;
        }

        @media screen and (min-width: $desktop) {
            width: 10rem;
            height: 6.9rem;
        }
    }

    .footer__list {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        margin-top: 2rem;
        row-gap: 1rem;
        text-transform: uppercase;

        @media screen and (min-width: $laptop) {
            column-gap: 10rem;
            flex-direction: row;
            margin-left: 5rem;
            margin-right: 5rem;
            margin-top: 0;
        }
    }

    .footer__button {
        align-items: center;
        background-color: $color-footer;
        color: white;
        display: flex;
        gap: .5rem;
        justify-content: center;
        margin-top: 2rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        text-transform: uppercase;
        width: 100%;

        @media screen and (min-width: $laptop) {
            margin-top: 0;
            padding-top: 1.6rem;
            padding-bottom: 1.6rem;
            height: 4.8rem;
        }

        @media screen and (min-width: $desktop) {
            font-size: 1.2rem;
            height: 6.9rem;
            width: 25rem;
        }
    }
}