header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: .5rem;

    .header__logo {
        height: 1.8rem;
    }

    nav {
        display: none;
    }

    .header__input--container {
        align-items: center;
        display: flex;
        position: relative;

        .input__search {
            left: .2rem;
            position: absolute;
        }

        #search {
            height: 2rem;
            outline-color: $color-button;

            &::placeholder {
                text-align: center;
            }

            @media screen and (min-width:$tablet) {
                width: 15rem;
            }
        }
    }

    .header__bag {
        height: 1.8rem;
    }
}