header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: .5rem;

    @media screen and (min-width: $laptop) {
        height: 10vh;
    }

    .header__logo {
        height: 1.8rem;
    }

    nav {
        display: none;

        @media screen and (min-width: $laptop) {
            display: block;
        }

        ul {
            @media screen and (min-width: $laptop) {
                display: flex;
                column-gap: 4rem;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }

    .header__input--container {
        align-items: center;
        display: flex;
        position: relative;

        .input__search {
            left: .2rem;
            position: absolute;
        }

        #search {
            height: 2rem;
            outline-color: $color-button;

            &::placeholder {
                text-align: center;
            }

            @media screen and (min-width: $tablet) {
                width: 15rem;
            }
        }
    }

    .header__bag {
        height: 1.8rem;
    }
}