header {
    display: flex;
    font-family: $roboto;
    justify-content: center;
    margin: 1rem .5rem 10% .5rem;

    @media screen and (min-width: $desktop) {
        justify-content: space-evenly;
        margin-bottom: 0;
    }

    .header__logo {
        height: 1.8rem;
        left: .5rem;
        position: absolute;

        @media screen and (min-width: $desktop) {
            left: 1.5rem;
        }
    }

    nav {
        ul {
            display: none;
            font-weight: 700;
            list-style: none;
            text-transform: uppercase;

            @media screen and (min-width: $desktop) {
               display: flex;
               column-gap: 4rem;
            }

            li {
                padding: .5rem;
            }
        }
    }

    .header__input--container{
        display: flex;
        position: relative;

        .input__search {
            left: 5%;
            position: absolute;
            top: .25rem;
        }

        #search {
            height: 2rem;
            outline-color: $color-button;
            text-align: center;

            @media screen and (min-width: $desktop) {
                border: none;
                padding-left: 3rem;
                text-align: start;
                width: 15rem;
            }            
        }
    }

    .header__bag {
        height: 1.8rem;
        position: absolute;
        right: .5rem;

        @media screen and (min-width: $desktop) {
            right: 1.5rem;
        }
    }
}