main {
    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
    }

    #section__pictures {
        display: flex;
        gap: .5rem;
        margin-top: 5rem;
        overflow: auto;

        @media screen and (min-width: $desktop) {
            align-items: center;
            background-color: $color-main-background;
            flex-direction: column;
            margin-top: 0;
            padding-top: 10rem;
            width: 50%;

            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }

        .bigShoe {
            display: none;

            @media screen and (min-width: $desktop) {
                display: block;
                width: 30rem;
            }
        }

        .pictures__scroll--desktop {
            display: flex;
            gap: .5rem;
            overflow: scroll;

            @media screen and (min-width: $desktop) {


                .first__pic,
                .second__pic,
                .third__pic {
                    @media screen and (min-width: $desktop) {
                        width: 12rem;
                    }
                }
            }
        }
    }
}