main {
    @media screen and (min-width: $desktop) {}

    #section__pictures {
        display: flex;
        gap: .5rem;
        margin-top: 5rem;
        overflow: auto;

        @media screen and (min-width: $desktop) {}

        .bigShoe {
            display: none;

            @media screen and (min-width: $desktop) {}
        }

        .pictures__scroll--desktop {
            display: flex;
            gap: .5rem;
            overflow: scroll;

            @media screen and (min-width: $desktop) {


                .first__pic,
                .second__pic,
                .third__pic {
                    @media screen and (min-width: $desktop) {}
                }
            }
        }
    }
}