main {
    @media screen and (min-width: $desktop) {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 80vh;
    }

    #section__pictures {
        display: flex;
        gap: .5rem;
        margin-top: 20%;
        overflow: auto;
    }
}