#main__sections--container {
    @media screen and (min-width: $laptop) {
        background-color: $color-background;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #intro__section {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        padding-top: 2rem;
        row-gap: .5rem;

        @media screen and (min-width: $laptop) {
            align-items: start;
            padding-left: 8%;
            padding-top: 4rem;
            row-gap: .8rem;
            width: 40%;
        }

        @media screen and (min-width: $desktop) {
            padding-top: 6rem;
            row-gap: 1rem;
        }

        h1 {
            font-size: 2rem;
            font-weight: 700;
            text-align: center;

            @media screen and (min-width: $tablet) {
                font-size: 2.2rem;
                width: 60%;
            }

            @media screen and (min-width: $laptop) {
                line-height: 3rem;
                font-size: 2.9rem;
                text-align: start;
                width: 17rem;
            }

            @media screen and (min-width: $desktop) {
                line-height: 4rem;
                font-size: 3.9rem;
                width: 25rem;
            }
        }

        p {
            color: $color-textDescription;
            font-size: .8rem;
            margin: 0 auto;
            text-align: center;
            width: 55%;

            @media screen and (min-width: $tablet) {
                width: 35%;
            }

            @media screen and (min-width: $laptop) {
                line-height: 1rem;
                text-align: start;
                margin: 0;
                width: 17rem;
            }

            @media screen and (min-width: $desktop) {
                line-height: 1.5rem;
                font-size: 1.1rem;
                width: 23rem;
            }
        }

        .intro__price {
            display: block;
            font-size: 1.2rem;
            font-weight: 700;
            margin-top: 1rem;

            @media screen and (min-width: $tablet) {
                font-size: 1.5rem;        
            }

            @media screen and (min-width: $laptop) {
                font-size: 2rem;
            }

            @media screen and (min-width: $desktop) {
                margin-top: 1.5rem;
                margin-bottom: .5rem;
                font-size: 3rem;
            }
        }

        .intro__button--container {
            display: flex;
            justify-content: center;
            width: 100%;

            @media screen and (min-width: $tablet) {
                width: 70%;
            }

            @media screen and (min-width: $laptop) {
                justify-content: start;
                width: 13rem;
            }

            @media screen and (min-width: $desktop) {
                width: 20rem;
            }

            .intro__button {
                background-color: $color-button;
                border-radius: .2rem;
                color: white;
                display: block;
                font-weight: 700;
                padding-bottom: .8rem;
                padding-top: .8rem;
                text-align: center;
                text-transform: uppercase;
                width: 50%;

                @media screen and (min-width: $laptop) {
                    padding-bottom: 1rem;
                    padding-top: 1rem;
                    width: 100%;
                }

                @media screen and (min-width: $desktop) {
                    font-size: 1.5rem;
                    padding-bottom: 2rem;
                    padding-top: 2rem;
                }
            }
        }
    }
}