#pictures__section {
    margin-top: 4rem;

    .big__shoes {
        display: none;
    }
    
    .pictures__container {
        display: flex;
        overflow: scroll;
        
        
        @media screen and (min-width: $tablet) {
            margin: 0 auto;
            width: 35rem;
        }
    }
}
