#section__intro {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5%;

    @media screen and (min-width: $desktop) {
        justify-content: flex-start;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 5%;
        text-align: center;

        @media screen and (min-width: $desktop) {
            font-size: 3rem;
            font-weight: bold;
            text-align: left;
            width: 55%;
        }
    }

    .intro__subtitle {
        color: $color-text-description;
        font-size: .8rem;
        margin-bottom: 8%;
        text-align: center;
        width: 55%;

        @media screen and (min-width: $desktop) {
            text-align: left;
        }
    }

    .intro__price {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 5%;

        @media screen and (min-width: $desktop) {
            width: 55%;
        }
    }

    .intro__button {
        background-color: $color-button;
        border-radius: .3rem;
        color: $color-background;
        font-size: .8rem;
        font-weight: 400;
        padding-bottom: 1rem;
        padding-top: 1rem;
        text-align: center;
        text-transform: uppercase;
        width: 45%;

        @media screen and (min-width: $desktop) {
            margin-right: 10%;
        }
    }
}