#main__sections--container {
    display: flex;

    #intro__section{
        align-items: center;
        display: flex;
        flex-direction: column;
        row-gap: .5rem;

        @media screen and (min-width: $laptop) {
            width: 50vw;
        }

        h1 {
            font-size: 2rem;
            font-weight: 700;
            margin-top: 2rem;
            text-align: center;
            width: 19rem;

            @media screen and (min-width: $tablet) {
                font-size: 2.5rem;
                width: 24rem;
            }

            @media screen and (min-width: $laptop) {
                line-height: 2.8rem;
                text-align: start;
                width: 16rem;
            }

            @media screen and (min-width: $desktop) {
                line-height: 4rem;
                font-size: 3.5rem;
                width: 21rem;
            }

        }

        p {
            color: $color-textDescription;
            font-size: .8rem;
            text-align: center;
            width: 14rem;
            
            @media screen and (min-width: $tablet) {
                font-size: 1rem;
                width: 24rem;
            }

            @media screen and (min-width: $laptop) {
                font-size: .7rem;
                line-height: .8rem;
                text-align: start;
                width: 16rem;
            }

            @media screen and (min-width: $desktop) {
                font-size: 1rem;
                line-height: 1.2rem;
                width: 21rem;
            }
        }

        .intro__price {
            font-size: 1.5rem;
            font-weight: 700;
            margin-top: 1rem;

            @media screen and (min-width: $tablet) {
                font-size: 1.8rem;
                margin-top: 1.5rem;
            }

            @media screen and (min-width: $laptop) {
                margin-bottom: .8rem;
                width: 16rem;
            }

            @media screen and (min-width: $desktop) {
                font-size: 2.8rem;
                margin-bottom: 1rem;
                margin-top: 2rem;
                width: 21rem;
            }
        }

        .intro__button {
            background-color: $color-button;
            border-radius: .2rem;
            color: white;
            font-weight: 700;
            padding: 1rem 3rem;
            text-transform: uppercase;

            @media screen and (min-width: $tablet) {
                font-size: 1.1rem;
                padding: 1.5rem 4rem;
            }

            @media screen and (min-width: $laptop) {
                font-size: 1rem;
                margin-right: 4rem;
                padding: 1.5rem 3.5rem;
                text-align: center;
            }

            @media screen and (min-width: $desktop) {
                font-size: 1.3rem;
                margin-right: 4.5rem;
                padding: 2rem 5rem;
            }
        }
    }
}