// Colors
$color-background: #E5E5E5;
$color-button: #FF0000;
$color-footer: #000;
$color-main-background: #C4C4C4;
$color-text: #000;
$color-text-description: #9C9696;


// Fonts
$roboto: 'Roboto', sans-serif;


// Display
$mobile: 375px;
$desktop: 1280px;