// Colors
$color-background: #E5E5E5;
$color-button: #FF0000;
$color-footer: #000;
$color-mainBackground: #C4C4C4;
$color-text: #000;
$color-textDescription: #9C9696;


// Fonts
$roboto: 'Roboto', sans-serif;


// Display
$mobile: 375px;
$tablet: 640px;
$laptop: 1024px;
$desktop: 1728px;