@import 'abstract/variables';
@import 'components/header';
@import 'components/section-intro';
@import 'components/section-pictures';
@import 'components/footer';

* {
    box-sizing: border-box;
}

body {
    background-color: $color-background;
    font-family: $roboto;

    main {
        @media screen and (min-width: $laptop) {
            background-image: linear-gradient(to right, $color-background 33.5%, $color-mainBackground 33.5% 100%);
            height: 75vh;
        }

        @media screen and (min-width: $desktop) {
            background-image: linear-gradient(to right, $color-background 35%, $color-mainBackground 35% 100%);
        }
    }
}
