header {
  align-items: center;
  background-color: #E5E5E5;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
@media screen and (min-width: 1024px) {
  header {
    gap: 5rem;
    justify-content: space-around;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 1720px) {
  header {
    -moz-column-gap: 10rem;
         column-gap: 10rem;
  }
}
header .header__logo {
  height: 1.5rem;
}
header nav ul {
  display: none;
}
@media screen and (min-width: 1024px) {
  header nav ul {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    display: flex;
    font-weight: 700;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1720px) {
  header nav ul {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }
}
header .header__input--container {
  align-items: center;
  display: flex;
  position: relative;
}
header .header__input--container .input__search {
  height: 70%;
  left: 0.4rem;
  position: absolute;
}
header .header__input--container #search {
  outline-color: #FF0000;
  padding-left: 0.5rem;
  width: 80%;
}
header .header__input--container #search::-moz-placeholder {
  text-align: center;
}
header .header__input--container #search::placeholder {
  text-align: center;
}
@media screen and (min-width: 640px) {
  header .header__input--container #search {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  header .header__input--container #search {
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    border: none;
  }
}
@media screen and (min-width: 1720px) {
  header .header__input--container #search {
    width: 15rem;
  }
}
header .header__bag {
  height: 1.5rem;
}
@media screen and (min-width: 640px) {
  header .header__bag {
    padding-left: 15%;
  }
}
@media screen and (min-width: 1024px) {
  header .header__bag {
    padding-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  #main__sections--container {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
#main__sections--container #intro__section {
  align-items: center;
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  row-gap: 0.5rem;
}
@media screen and (min-width: 1024px) {
  #main__sections--container #intro__section {
    align-items: start;
    padding-left: 8%;
    padding-top: 8%;
    row-gap: 0.8rem;
    width: 40%;
  }
}
@media screen and (min-width: 1720px) {
  #main__sections--container #intro__section {
    row-gap: 1rem;
  }
}
#main__sections--container #intro__section h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 640px) {
  #main__sections--container #intro__section h1 {
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  #main__sections--container #intro__section h1 {
    line-height: 3rem;
    font-size: 2.9rem;
    text-align: start;
    width: 17rem;
  }
}
@media screen and (min-width: 1720px) {
  #main__sections--container #intro__section h1 {
    line-height: 4rem;
    font-size: 4rem;
    width: 23rem;
  }
}
#main__sections--container #intro__section p {
  color: #9C9696;
  font-size: 0.8rem;
  margin: 0 auto;
  text-align: center;
  width: 55%;
}
@media screen and (min-width: 640px) {
  #main__sections--container #intro__section p {
    width: 35%;
  }
}
@media screen and (min-width: 1024px) {
  #main__sections--container #intro__section p {
    line-height: 1rem;
    text-align: start;
    margin: 0;
    width: 17rem;
  }
}
@media screen and (min-width: 1720px) {
  #main__sections--container #intro__section p {
    line-height: 1.3rem;
    font-size: 1.2rem;
    width: 25rem;
  }
}
#main__sections--container #intro__section .intro__price {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1rem;
}
@media screen and (min-width: 1024px) {
  #main__sections--container #intro__section .intro__price {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1720px) {
  #main__sections--container #intro__section .intro__price {
    font-size: 3rem;
  }
}
#main__sections--container #intro__section .intro__button--container {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 640px) {
  #main__sections--container #intro__section .intro__button--container {
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  #main__sections--container #intro__section .intro__button--container {
    justify-content: start;
    width: 13rem;
  }
}
@media screen and (min-width: 1720px) {
  #main__sections--container #intro__section .intro__button--container {
    width: 19rem;
  }
}
#main__sections--container #intro__section .intro__button--container .intro__button {
  background-color: #FF0000;
  border-radius: 0.2rem;
  color: white;
  display: block;
  font-weight: 700;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}
@media screen and (min-width: 1024px) {
  #main__sections--container #intro__section .intro__button--container .intro__button {
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 100%;
  }
}
@media screen and (min-width: 1720px) {
  #main__sections--container #intro__section .intro__button--container .intro__button {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
}

#pictures__section {
  background-color: #C4C4C4;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
@media screen and (min-width: 1024px) {
  #pictures__section {
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    padding-bottom: 1rem;
    padding-top: 4rem;
    width: 60%;
  }
}
@media screen and (min-width: 1720px) {
  #pictures__section {
    padding-bottom: 1.5rem;
    padding-top: 6rem;
  }
}
#pictures__section .big__shoes {
  display: none;
}
@media screen and (min-width: 1024px) {
  #pictures__section .big__shoes {
    display: block;
    height: 18rem;
  }
}
@media screen and (min-width: 1720px) {
  #pictures__section .big__shoes {
    height: 30rem;
  }
}
#pictures__section .pictures__container {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  display: flex;
  overflow: scroll;
}
@media screen and (min-width: 1024px) {
  #pictures__section .pictures__container {
    -moz-column-gap: 1.2rem;
         column-gap: 1.2rem;
    overflow: hidden;
  }
}
#pictures__section .pictures__container .shoes__pictures {
  height: 6rem;
}
@media screen and (min-width: 1024px) {
  #pictures__section .pictures__container .shoes__pictures {
    height: 8rem;
  }
}
@media screen and (min-width: 1720px) {
  #pictures__section .pictures__container .shoes__pictures {
    height: 13rem;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=style.css.map */