header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
@media screen and (min-width: 1024px) {
  header {
    background-image: linear-gradient(to right, #E5E5E5 33.5%, #C4C4C4 33.5% 100%);
    height: 10vh;
    padding: 0 1rem;
  }
}
@media screen and (min-width: 1440px) {
  header {
    background-image: linear-gradient(to right, #E5E5E5 35%, #C4C4C4 35% 100%);
    padding: 0 1.8rem;
  }
}
header .header__logo {
  height: 1.8rem;
}
@media screen and (min-width: 1024px) {
  header .header__logo:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 1440px) {
  header .header__logo {
    height: 2.5rem;
  }
}
header nav {
  display: none;
}
@media screen and (min-width: 1024px) {
  header nav {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  header nav ul {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    display: flex;
    font-weight: 700;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1440px) {
  header nav ul {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  header nav ul li::after {
    content: "";
    display: block;
    height: 3px;
    margin: auto;
    transition: width 0.5s ease;
    width: 0px;
  }
  header nav ul li:hover {
    cursor: pointer;
  }
  header nav ul li:hover:hover::after {
    background: #000;
    width: 100%;
  }
}
header .header__input--container {
  align-items: center;
  display: flex;
  position: relative;
}
header .header__input--container .input__search {
  left: 0.2rem;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  header .header__input--container .input__search {
    cursor: pointer;
    left: 0.3rem;
  }
}
@media screen and (min-width: 1440px) {
  header .header__input--container .input__search {
    left: 0.5rem;
    height: 1.8rem;
  }
}
header .header__input--container #search {
  border: 0;
  height: 2rem;
  outline-color: #FF0000;
}
header .header__input--container #search::-moz-placeholder {
  text-align: center;
}
header .header__input--container #search::placeholder {
  text-align: center;
}
@media screen and (min-width: 1440px) {
  header .header__input--container #search::-moz-placeholder {
    font-size: 1.2rem;
  }
  header .header__input--container #search::placeholder {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 640px) {
  header .header__input--container #search {
    width: 15rem;
  }
}
@media screen and (min-width: 1440px) {
  header .header__input--container #search {
    height: 2.5rem;
  }
}
header .header__bag {
  height: 1.8rem;
}
@media screen and (min-width: 1024px) {
  header .header__bag {
    cursor: pointer;
    height: 1.5rem;
  }
}
@media screen and (min-width: 1440px) {
  header .header__bag {
    height: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  #main__sections--container {
    align-items: center;
    display: flex;
  }
}
#main__sections--container #intro__section {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
@media screen and (min-width: 1024px) {
  #main__sections--container #intro__section {
    width: 33.5vw;
  }
}
@media screen and (min-width: 1440px) {
  #main__sections--container #intro__section {
    width: 35vw;
  }
}
#main__sections--container #intro__section h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 3rem;
  text-align: center;
  width: 19rem;
}
@media screen and (min-width: 640px) {
  #main__sections--container #intro__section h1 {
    font-size: 2.5rem;
    width: 24rem;
  }
}
@media screen and (min-width: 1024px) {
  #main__sections--container #intro__section h1 {
    line-height: 2.8rem;
    text-align: start;
    width: 16rem;
  }
}
@media screen and (min-width: 1440px) {
  #main__sections--container #intro__section h1 {
    line-height: 4rem;
    font-size: 3.5rem;
    width: 21rem;
  }
}
#main__sections--container #intro__section p {
  color: #9C9696;
  font-size: 0.8rem;
  text-align: center;
  width: 14rem;
}
@media screen and (min-width: 640px) {
  #main__sections--container #intro__section p {
    font-size: 1rem;
    width: 24rem;
  }
}
@media screen and (min-width: 1024px) {
  #main__sections--container #intro__section p {
    font-size: 0.7rem;
    line-height: 0.8rem;
    text-align: start;
    width: 16rem;
  }
}
@media screen and (min-width: 1440px) {
  #main__sections--container #intro__section p {
    font-size: 1rem;
    line-height: 1.2rem;
    width: 21rem;
  }
}
#main__sections--container #intro__section .intro__price {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
}
@media screen and (min-width: 640px) {
  #main__sections--container #intro__section .intro__price {
    font-size: 1.8rem;
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  #main__sections--container #intro__section .intro__price {
    margin-bottom: 0.8rem;
    width: 16rem;
  }
}
@media screen and (min-width: 1440px) {
  #main__sections--container #intro__section .intro__price {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    width: 21rem;
  }
}
#main__sections--container #intro__section .intro__button {
  background-color: #FF0000;
  border-radius: 0.2rem;
  color: white;
  font-weight: 700;
  padding: 1rem 3rem;
  text-transform: uppercase;
}
@media screen and (min-width: 640px) {
  #main__sections--container #intro__section .intro__button {
    font-size: 1.1rem;
    padding: 1.5rem 4rem;
  }
}
@media screen and (min-width: 1024px) {
  #main__sections--container #intro__section .intro__button {
    cursor: pointer;
    font-size: 1rem;
    margin-right: 4rem;
    padding: 1.5rem 3.5rem;
    text-align: center;
  }
  #main__sections--container #intro__section .intro__button:hover {
    background: rgb(116, 209, 143);
    font-size: 1.3rem;
    max-height: 4rem;
    transition: all 0.8s;
  }
}
@media screen and (min-width: 1440px) {
  #main__sections--container #intro__section .intro__button {
    font-size: 1.3rem;
    margin-right: 4.5rem;
    padding: 2rem 5rem;
  }
}

#pictures__section {
  margin-top: 4rem;
}
@media screen and (min-width: 1024px) {
  #pictures__section {
    align-items: center;
    background-color: #C4C4C4;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-top: 3rem;
    width: 66.5vw;
  }
}
@media screen and (min-width: 1440px) {
  #pictures__section {
    width: 65vw;
  }
}
#pictures__section .bigPictures__container {
  position: relative;
}
#pictures__section .bigPictures__container .fa-circle-xmark {
  display: none;
}
@media screen and (min-width: 1024px) {
  #pictures__section .bigPictures__container .fa-circle-xmark {
    display: inline;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
}
#pictures__section .bigPictures__container .big__shoes {
  display: none;
}
@media screen and (min-width: 1024px) {
  #pictures__section .bigPictures__container .big__shoes {
    display: block;
    height: 18rem;
  }
}
@media screen and (min-width: 1440px) {
  #pictures__section .bigPictures__container .big__shoes {
    height: 25rem;
  }
}
#pictures__section .bigPictures__container .pictures__one--big, #pictures__section .bigPictures__container .pictures__two--big, #pictures__section .bigPictures__container .pictures__three--big {
  display: none;
}
@media screen and (min-width: 1024px) {
  #pictures__section .bigPictures__container .pictures__one--big, #pictures__section .bigPictures__container .pictures__two--big, #pictures__section .bigPictures__container .pictures__three--big {
    height: 13rem;
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 1440px) {
  #pictures__section .bigPictures__container .pictures__one--big, #pictures__section .bigPictures__container .pictures__two--big, #pictures__section .bigPictures__container .pictures__three--big {
    height: 20rem;
    margin-bottom: 5rem;
  }
}
#pictures__section .pictures__container {
  display: flex;
  overflow: scroll;
}
@media screen and (min-width: 640px) {
  #pictures__section .pictures__container {
    margin: 0 auto;
    width: 35rem;
  }
}
@media screen and (min-width: 1024px) {
  #pictures__section .pictures__container {
    justify-content: space-between;
    overflow: hidden;
  }
}
@media screen and (min-width: 1440px) {
  #pictures__section .pictures__container {
    width: 48rem;
  }
}
@media screen and (min-width: 1024px) {
  #pictures__section .pictures__container .shoes__pictures--one,
  #pictures__section .pictures__container .shoes__pictures--two,
  #pictures__section .pictures__container .shoes__pictures--three {
    height: 7rem;
  }
  #pictures__section .pictures__container .shoes__pictures--one:hover,
  #pictures__section .pictures__container .shoes__pictures--two:hover,
  #pictures__section .pictures__container .shoes__pictures--three:hover {
    border-bottom: 5px #FF0000 solid;
    cursor: pointer;
    transition: all 0.3s linear;
  }
}
@media screen and (min-width: 1440px) {
  #pictures__section .pictures__container .shoes__pictures--one,
  #pictures__section .pictures__container .shoes__pictures--two,
  #pictures__section .pictures__container .shoes__pictures--three {
    height: 10rem;
  }
}

footer {
  margin-top: 4rem;
}
@media screen and (min-width: 640px) {
  footer {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    cursor: pointer;
    flex-direction: row;
    height: 15vh;
    justify-content: space-between;
    margin-top: 0;
  }
}
footer .footer__video {
  width: 100%;
}
@media screen and (min-width: 640px) {
  footer .footer__video {
    width: 35rem;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer__video {
    height: 100%;
    width: auto;
  }
}
footer .footer__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  margin: 2rem 0;
  row-gap: 2rem;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  footer .footer__list {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  footer .footer__list {
    font-size: 1.2rem;
    -moz-column-gap: 7rem;
         column-gap: 7rem;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer__list li::after {
    content: " ";
    display: block;
    height: 3px;
    margin: auto;
    transition: width 0.5s ease;
    width: 0px;
  }
  footer .footer__list li:hover {
    cursor: pointer;
  }
  footer .footer__list li:hover:hover::after {
    background-color: #000;
    width: 100%;
  }
}
footer .footer__button {
  align-items: center;
  background-color: #000;
  color: white;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  text-transform: uppercase;
}
@media screen and (min-width: 640px) {
  footer .footer__button {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer__button {
    height: 100%;
    width: 25%;
  }
  footer .footer__button:hover {
    background: rgb(116, 209, 143);
    font-size: 1.3rem;
    transition: all 0.8s;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 1024px) {
  body main {
    background-image: linear-gradient(to right, #E5E5E5 33.5%, #C4C4C4 33.5% 100%);
    height: 75vh;
  }
}
@media screen and (min-width: 1440px) {
  body main {
    background-image: linear-gradient(to right, #E5E5E5 35%, #C4C4C4 35% 100%);
  }
}/*# sourceMappingURL=style.css.map */