@import 'abstract/variables';
@import 'components/header';
@import 'components/main';
@import 'components/_section__intro';

*{
    box-sizing: border-box;
    font-family: $roboto;
}

body {
    background-color: $color-background;
}